.chats-cont{
    display: flex;
    height: 87vh;
    margin-top: 1rem;
}
.left-container {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    background-color: #5fd0e4;
    padding: 10px;
  }

  .right-container {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 10px;
  }

.stretched-link{
    color: black !important;
}

.stretched-link:hover{
    color: aliceblue !important;
}

#impo{
   text-decoration: solid !important;
}

/* For the chats */

.message{
  background-color: rgb(211, 204, 204);
  width: 30%;
  padding: 7px;
  margin: 5px 5px;
  border: 1px solid olivedrab;
  font-family: 'Montserrat Alternates', sans-serif;;
  border-radius: 10px;
}
.left{
  float: left;
  clear:both;
}

.right{
  float: right;
  clear:both;
}

.center{
  margin: auto;
  background-color: grey;
  color:lightyellow;
}